vendor
config/settings.dev.yml
config/settings.yml
coverage.xml
.idea
*.key
*.log
syn-settings.xml
*/cfg/config.yaml
clover.xml
.php_cs.cache
.phpunit.result.cache
CrayFits/.env.local
CrayFits/.env.local.php
CrayFits/.env.*.local
CrayFits/public/bundles/
CrayFits/var/
CrayFits/.web-server-pid
